body {
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 196, 196);
    font-weight: 100;
    margin: 0pt;
    margin-top: 50pt;
    margin-left:100pt;
    background-color: rgb(0, 77, 80);
}

